# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/

publish/

local.properties

# preprocess gen code
/versions/1.20.1/src/
/versions/1.19.2/src/
/versions/1.18.2/src/
/versions/1.16.5/src/
